* { 
    margin: 0px;
    padding: 0px;
}

html, body { 
    width: 100vw;
    height: 100vh;

}


main { 

    height: 100vh;
    background: url('../img/656649.jpg') center center;


}



section#telefone { 
    position: absolute;
    background: url(../img/frame-iphone.png) no-repeat;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 312px;
    height: 625px;

}

section#redes-sociais  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: right;
    margin-bottom: 20px;

}

section#redes-sociais { 
    text-align: right;
    position: relative;
    top: 20px;
    right: 20px;
   
}


section#redes-sociais img:hover { 
    border: rgb(255, 252, 252) 1px solid;
    box-sizing: border-box;

}


iframe#tela { 
    position: relative;
    top: 80px;
    left: 22px;

    width: 265px;
    height: 470px;

}




